pin-depends: [
  [
    "dkml-compiler-env.~dev"
    "git+https://github.com/diskuv/dkml-compiler.git"
  ]
  [
    "dkml-runtime-common.1.0.2~prerel0"
    "git+https://github.com/diskuv/dkml-runtime-common.git"
  ]
  [
    "dkml-runtime-distribution.~dev"
    "git+https://github.com/diskuv/dkml-runtime-distribution.git"
  ]
]
extra-source "dl/dkml-runtime-common.tar.gz" {
  src: "https://github.com/diskuv/dkml-runtime-common/archive/refs/tags/1.0.2-prerel3.tar.gz"
  checksum: [
    "sha256=9d0a11d0c622f307192b1804de14e3441e0d4765bf65134f267edb700e5217d9"
  ]
}
extra-source "dl/dkml-runtime-distribution.tar.gz" {
  src: "https://github.com/diskuv/dkml-runtime-distribution/archive/refs/tags/1.0.2-prerel3.tar.gz"
  checksum: [
    "sha256=284ee25fbce2da108df0310c3798e62dfcffb88f67c3e546d3e6026a68c7b811"
  ]
}
