pin-depends: [
  [
    "dkml-compiler-env.~dev"
    "git+https://github.com/diskuv/dkml-compiler.git"
  ]
]
extra-source "dl/dkml-runtime-common.tar.gz" {
  src: "https://github.com/diskuv/dkml-runtime-common/archive/refs/tags/1.0.2-prerel12.tar.gz"
  checksum: [
    "sha256=34dedb72e554b2de998a57954fda75006e3a2f9e0f18d81a361e7b3a66434e0c"
  ]
}
extra-source "dl/dkml-runtime-distribution.tar.gz" {
  src: "https://github.com/diskuv/dkml-runtime-distribution/archive/refs/tags/1.0.2-prerel12.tar.gz"
  checksum: [
    "sha256=a3caa2d0369ee87bc753dc9707926ec5fe4fbcedc04c5f7dba194236edeb7a9a"
  ]
}
