pin-depends: [
  [
    "dkml-compiler-env.~dev"
    "git+https://github.com/diskuv/dkml-compiler.git"
  ]
  [
    "dkml-runtime-common.~dev"
    "git+https://github.com/diskuv/dkml-runtime-common.git"
  ]
  [
    "dkml-runtime-distribution.~dev"
    "git+https://github.com/diskuv/dkml-runtime-distribution.git"
  ]
]